NEXT_PUBLIC_SUPABASE_URL=https://kdcvccxurmoidwssvanc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtkY3ZjY3h1cm1vaWR3c3N2YW5jIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2OTE2MDMsImV4cCI6MjA5NDI2NzYwM30._Bi5Lz51LuZPxZo47HqWHvD8JhbHbxV9i9CpJcX1K8o
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtkY3ZjY3h1cm1vaWR3c3N2YW5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODY5MTYwMywiZXhwIjoyMDk0MjY3NjAzfQ.x3wtUg_Q-wGu73ki7feFIGwGTGxtMk8qzJDIbcaiqyg
