NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
NEXT_PUBLIC_ADMIN_EMAIL=admin@tlsv2.local
NEXT_PUBLIC_ADMIN_PASSWORD=TLSV2026@@
NEXT_PUBLIC_EXAM_URL=https://your-domain.vercel.app
